AccessibleAppsKit/SolutionPackage/src/CanvasApps/src/tm_accessibleappskit_74e45/pkgs/Wadl/ColourNames.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://uk-001.azure-apim.net/apim/tm-5fcolor-20names-5f8a45c0360df7547e" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Defaulttitle" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Default title">Get Colour Name from colornames.org</doc>
  <grammars>
    <jsonTypes targetNamespace="https://uk-001.azure-apim.net/apim/tm-5fcolor-20names-5f8a45c0360df7547e" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="GetColorName_responses_default_def_hexCode_def" />
      <string name="GetColorName_responses_default_def_name_def" />
      <object name="GetColorName_responses_default_def">
        <property name="hexCode" type="string" />
        <property name="name" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://uk-001.azure-apim.net/apim/tm-5fcolor-20names-5f8a45c0360df7547e">
    <resource path="/{connectionId}/">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetColorName" actionName="GetColorName" siena:isDeprecated="false">
        <doc title="GetColorName" />
        <request>
          <param style="query" name="hex" type="xs:string" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:GetColorName_responses_default_def" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_tm-5fcolor-20names-5f8a45c0360df7547e" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>